<div>
  <a href ng-click="toggleData()">{{calculator ? 'Hide calculator' : 'Calculate your rate'}}</a>
  <div ng-show="calculator">
    <form class="calculator-form">
      <div class="input-group">
        <span class="input-group-addon cow"></span>
        <input type="number" min="0" class="form-control" placeholder="Cows" id="cows" ng-change="calculateRate('#cows')" ng-model="calculatorData.cows" name="cows" required>
      </div>
      <div class="input-group">
        <span class="input-group-addon camel"></span>
        <input type="number" min="0" class="form-control" placeholder="Camels" id="camels"  ng-change="calculateRate('#camels')" ng-model="calculatorData.camels" name="camels" required>
      </div>
      <div class="input-group">
        <span class="input-group-addon goat"></span>
        <input type="number" min="0" class="form-control" placeholder="Sheep & Goats" id="goats" ng-change="calculateRate('#goats')" ng-model="calculatorData.goats" name="goats" required>
      </div>
    </form>
  </div>
  <div ng-show="calculator" class="calculated-sum" ng-repeat="insurer in insurers">
    Approximate cost to insure <br/> [{{insurer}}] <strong id="calculated-sum">{{calculatorCurrency}} <span style="font-size:26px;">{{calculatedSum[insurer] ? calculatedSum[insurer] : 0  | number : 2}}</span></strong>
  </div>
</div>
